@page "/candidatos/view/{idCandidato:int}"

@using ADMRH.Pages.Vacantes
@inject SweetAlertService Swal;
<RadzenCard class="mt-5">
    <div class="row">
        <div class="col">
            <h1>Informacion general</h1>
        </div>
        <div class="col-sm-2">
            <button class="btn @(mostrar==true ? "btn-danger": "btn-success") d-inline mt-1  float-right" @onclick="@(()=> mostrar =! mostrar)"><i class="fas fa-user-edit"></i></button>
        </div>
    </div>
    <EditForm Model="@candidate" OnValidSubmit="EditCandidate">
        <div class="row border-top">
            @if (archivo != null)
            {
                <div class="col-sm-2 mt-2 pr-1">
                    <div class="img" style="background-image: url(@archivo.FotoFrente);">

                    </div>
                </div>
                if (archivo.FotoPerfil != null)
                {
                    <div class="col-sm-2 mt-2 pr-1">
                        <div class="img" style="background-image: url(@archivo.FotoPerfil);">

                        </div>
                    </div>
                }
            }

            <div class="col mt-2">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="mb-1">Cedula</label>
                            <RadzenMask Mask="***-*******-*"
                                        CharacterPattern="[0-9]"
                                        Placeholder="Cedula"
                                        Name="CitizenId" @bind-Value=@candidate.Cedula
                                        Style="width: 100%;" />
                            <ValidationMessage For="@(()=> candidate.Cedula)" />
                        </div>
                        <div class="form-group">
                            <label class="mb-1">Nombre</label>
                            <RadzenTextBox @bind-Value="candidate.Nombre" Class="w-100" />
                            <ValidationMessage For="@(()=> candidate.Nombre)" />
                        </div>
                        <div class="form-group">
                            <label class="mb-1">Apellido</label>
                            <RadzenTextBox @bind-Value="candidate.Apellido" Class="w-100" />
                            <ValidationMessage For="@(()=> candidate.Apellido)" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="mb-1">Correo</label>
                            <RadzenTextBox @bind-Value="candidate.Correo" Class="w-100" />
                            <ValidationMessage For="@(()=> candidate.Correo)" />
                        </div>
                        <div class="form-group">
                            <label class="mb-1">Telefono</label>
                            <RadzenMask Mask="(***) ***-****"
                                        CharacterPattern="[0-9]"
                                        Placeholder="(000) 000-0000"
                                        Name="Phone" @bind-Value=@candidate.Telefono
                                        Style="width: 100%;" />
                            <ValidationMessage For="@(()=> candidate.Telefono)" />
                        </div>
                        <div class="form-group">
                            <label class="mb-1">Reasignar vacante</label>
                            <InputSelect disabled="@(!mostrar)" disa class="form-control" @bind-Value="candidate.IdVacante">
                                <option value="" disabled selected>Selecione la vacante...</option>
                                @if (responseAll != null)
                                {
                                    foreach (var item in responseAll.vacante)
                                    {
                                        <option value="@item.IdVacante">@item.Nombre</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="col pl-0 pr-0">
                    <div class="form-group">
                        <label class="mb-1">Direccion</label>
                        <InputTextArea @bind-Value="candidate.Direccion" style="height:60px;" Class="w-100 form-control"></InputTextArea>
                        <ValidationMessage For="@(()=> candidate.Direccion)" />
                    </div>
                </div>

            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="submit" hidden="@(!mostrar)" class="btn btn-primary mr-1 mt-1 w-25 m-auto" style="background: #023877 !important;"><i class="fas fa-user-edit"></i></button>
            </div>
        </div>
    </EditForm>
</RadzenCard>
<RadzenCard class="mt-4">
    <h2>Archivos</h2>
    <div class="row border-top">
        @if (archivo != null)
        {
            <div class="col">
                <h4>Foto</h4>
                <a href="@archivo.FotoFrente" download="@(candidate.Nombre + " " + candidate.Apellido)_foto">Descargar la foto</a>
                <h4>CV</h4>
                <a href="@archivo.Cv" download="@(candidate.Nombre + " " + candidate.Apellido)_cv">Descargar el curriculum</a>
            </div>
        }
        else
        {
            <h4>Cargando...</h4>
        }
    </div>
</RadzenCard>
<RadzenCard class="mt-4">
    <h2>Vacante aplicada</h2>
    <div class="row border-top">
        <div class="col pt-3">
            @if (vacantes != null)
            {
                if (vacantes.Count != 0)
                {
                    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                    Data="@vacantes" TItem="Vacante" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
                        <Columns>
                            <RadzenDataGridColumn TItem="Vacante" Property="Nombre" Title="Nombre" Frozen="true" Width="140px" />
                            <RadzenDataGridColumn TItem="Vacante" Property="Departamento" Title="Departamento" Width="140px" />
                            <RadzenDataGridColumn TItem="Vacante" Property="Descripcion" Title="Descripcion" Width="200px" />
                            <RadzenDataGridColumn TItem="Vacante" Property="Cargo" Title="Cargo" Width="100px" />
                            <RadzenDataGridColumn TItem="Vacante" Property="Salario" Title="Salario" Width="140px" />
                            <RadzenDataGridColumn TItem="Vacante" Title="Photo" Width="100px" Filterable="false">
                                <Template Context="data">
                                    <div class="row m-auto">
                                        <div class="col pr-1">
                                            <a href="vacantes/editar-vacante/@data.IdVacante" class="btn btn-success w-100"><i class="fas fa-user-edit"></i></a>
                                        </div>

                                    </div>
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                }
                else
                {
                    <div class="alert alert-info">
                        La vacante fue eliminada....
                    </div>
                }
            }
            else
            {
                <h5>Cargando las vacantes...</h5>
            }
        </div>
    </div>
</RadzenCard>
<style>
    .img {
        width: 100%;
        height: 310px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
@code {

}
