@inject IJSRuntime Js
@inject SweetAlertService Swal;
@inject NavigationManager Navigate;
@inject ILocalStorageService localStorageService
<style>
    .sidenav {
        height: 100%;
        width: 3.5rem;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: #023877;
        overflow-x: hidden;
        transition: 0.5s;
        /*pointer-events: none;*/
    }

    .iconMC {
        width: 3.65rem;
        margin-left: 3.5rem;
        height: 60px;
        background: #eff3f6;
        position: fixed;
        z-index: 1;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
    }

        .iconMC:hover {
            background: #808080;
        }

    /*.sidenav a {
      padding: 6px 6px 6px 15px;
      text-decoration: none;
      font-size: 17px;
      color: #818181;
      display: block;
      transition: 0.3s;
      background:red;
      border-bottom:solid 1px black;
    }*/
    /* .rz-panel-menu, .rz-navigation-item-wrapper, .rz-navigation-item {
            overflow-y: hidden !important;
        }*/
    .sidenav a:hover {
        color: #f1f1f1;
    }


    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .rz-panel-menu .rz-navigation-item-link {
        padding-left: 1rem;
    }

    .rz-navigation-item-text {
        overflow: hidden;
    }
    /* div.rz-navigation-item-wrapper {
            background: #45536b !important;
        }*/
    .rz-navigation-item-wrapper-active:before {
        background-color: #006797 !important;
    }

    .hid {
        margin-left: 2.4px;
    }

    .block {
        margin-left: 1rem;
    }

    .bloc {
        height: 60px;
    }

    .hiden {
        height: 100px;
    }


    #main {
        transition: margin-left .4s;
        padding: 16px;
        margin-left: 70px
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
    }
</style>



<div id="MostrarOcutar" @onclick="Open" class="iconMC">
    @if (!cierre)
    {
        <i style="float:right; margin-top:14.5px;" class="fas fa-bars fa-2x mr-3"></i>
    }
    else
    {
        <i style="float:right; margin-top:14.5px;" class="fas fa-times fa-2x mr-3"></i>
    }
</div>

<div id="mySidenav" class="sidenav">

    <div class="brand-container" style="z-index:990!important; margin-bottom:10px;">
        <RadzenImage Path="https://scontent.fhex5-2.fna.fbcdn.net/v/t1.6435-9/49656237_941670379357742_8440506915926048768_n.png?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_ohc=zkg8tIqNk7AAX-lbDzG&_nc_ht=scontent.fhex5-2.fna&oh=00_AT_NwEb1as807UsatEUq1utQLwGVqVTFHmOGGPVs3hZ4vQ&oe=62520EE2"
                     Style="width: 50px; height:50px; margin-right: 10px; border-radius: 10px;  margin-top:8px;"
                     class="@(cierre == true ? "block":"hid")"></RadzenImage>
        <a hidden="@(!cierre)" class="navbar-brand text-white mt-4 pt-4">Just Quality HR</a>
    </div>
    <a>
        <RadzenPanelMenu Style="width: 100%; overflow-y: hidden !important; background: #023877; ">
            <RadzenPanelMenuItem Text="Inicio" Path="/home" Icon="home"></RadzenPanelMenuItem>

            @if (userClaims != null)
            {
                @if (userClaims.Rol.Equals("Administrador"))
                {
                    <RadzenPanelMenuItem Text="Usuarios" Path="usuarios" Icon="account_circle"></RadzenPanelMenuItem>
                }
            }

            <RadzenPanelMenuItem Text="Candidatos" Path="candidatos" Icon="face"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Vacantes" Path="vacantes" Icon="account_balance"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Configuracion" Path="notification" Icon="build"></RadzenPanelMenuItem>
        </RadzenPanelMenu>

    </a>
    <div class="@(cierre == true ? "bloc":"hiden")" style="width: 100%; background: transparent; bottom: 0px; right: 0px; position: absolute;">
        <div class="row">
            <div class="col-sm-9 text-white mb-2">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="40" height="40" class="rounded-circle cursor ml-2" />
                @if (cierre)
                {
                    @if (userClaims != null)
                    {
                        <span class="ml-2" style="transition: 0.5s">
                            @userClaims.Nombre @userClaims.Apellido
                        </span>
                    }

                }
            </div>
            @if (cierre)
            {
                <div class="col text-center pl-0 pt-1 text-white" style="cursor:pointer;">
                    <i class="fas fa-power-off fa-2x ml-2"  @onclick="Salir"></i>
                </div>
            }
            else
            {
                <div class="col text-center pl-0 pt-1 text-white" style="cursor:pointer;">
                    <i class="fas fa-power-off fa-2x ml-3"  @onclick="Salir"></i>
                </div>
            }
        </div>
    </div>
    @*<div style="height: 40px; width: 100%; background: red; bottom: 0px; right: 0px; position: absolute;">

        </div>*@
</div>


@code {
    private bool collapseNavMenu = true;
    UserClaims userClaims;
    Autorized autorized = new Autorized();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            userClaims = await localStorageService.GetItemAsync<UserClaims>("user");
            if (userClaims?.IdUsuario == default)
            {
                await localStorageService.RemoveItemAsync("user");
                Navigate.NavigateTo("/login");
                return;
            }
        }
        catch (Exception)
        {
        }
    }
    public bool cierre { get; set; } = false;
    async Task Open()
    {
        cierre = !cierre;
        if (cierre)
        {
            await Js.InvokeVoidAsync("openNav");
        }
        else
        {
            await Js.InvokeVoidAsync("closeNav");
        }
    }
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    async Task Salir()
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "¿Estas seguro?",
            Text = "¿Estas seguro de que quieres salir del sistema?",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Si, salir",
            CancelButtonText = "No"
        });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await localStorageService.RemoveItemAsync("user");
            Navigate.NavigateTo("/login");
            return;
        }
    }
}
